*{
  box-sizing: border-box; 
  -webkit-tap-highlight-color: transparent;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100dvh; 
  background: #E2E8F0;
  font-family: 'Inter', sans-serif; 
  line-height: 24px;
  width: 100vw;
  min-width: 100vw;
  background-clip: no-clip;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
